// signup font
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700&display=swap");
@import "../../styles/common.scss";

@media (min-width: 768px) {
  .contentContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contentContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contentContainer {
    width: 1170px;
  }
}

.Booking {
  width: 100vw;
  position: relative;
  background-color: rgb(244, 244, 244);
  font-family: "Gothic A1", sans-serif;

  .bookingBoard {
    /* props 데이터의 제일 큰 박스를 감싸는 wrap container 역할 */
    width: 100vw;
    height: 500px;

    /* props 데이터 받아오는 map 시작 부분 */
    .bannerBox {
      width: 100vw;
      height: 500px;
      overflow: hidden;
      position: relative;
      line-height: normal;
      @include flex(center, center, column);

      .bannerTextContainer {
        width: 100vw;
        height: 500px;
        padding: 30px;
        @include flex(center, center, column);
        margin: 0 auto;
        cursor: pointer;
        position: absolute;
        // margin-top: 40px;
        transition: all 0.5s ease-in-out;

        &:hover {
          width: 100vw;
          height: 500px;
          background-color: rgba(0, 0, 0, 0.65);
          z-index: 999;
          position: absolute;
        }
        &:hover > .bannerTopText {
          cursor: pointer;
          font-size: 18px;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          margin-top: 20px;
          margin-bottom: 27px;
          letter-spacing: 2px;
          display: flex;
        }
        &:hover > .bannerDesc {
          width: 150px;
          height: 44px;
          line-height: 138%;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
          color: #ffffff;
          word-break: keep-all;
          display: block;
        }
        &:hover > .bannerBtn {
          height: 35px;
          background: none;
          border: 1px solid #fff;
          padding: 8px 30px;
          margin-top: 34px;
          color: #ffffff;
          font-size: 13px;
          letter-spacing: -0.1px;
          cursor: pointer;
          display: block;
        }
      }

      .bannerTopText {
        display: none;
      }

      .bannerTitle {
        font-size: 48px;
        text-align: center;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 20px;
        z-index: 999;
      }

      .bannerDesc {
        display: none;
      }

      .bannerBtn {
        display: none;
      }
      .bannerImage {
        min-width: 100%;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
      }
    }
  }
}
.navWrap {
  width: inherit;
  nav {
    height: 102px;
    background-color: $color-white;
  }
}
header {
  width: inherit;
  height: 50px;
  background-color: $color-black;
}
.footerWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  footer {
    height: 320px;
    background-color: $color-black;
  }
}
