@import "../../styles/common.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@100;300;500;700&display=swap");

.BookingDetail {
  margin-top: 102px;

  .banner {
    min-width: 100%;
    height: 797px;
    position: relative;
    overflow: hidden;

    .bannerImg {
      min-width: 100%;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }

    .bannerTitle {
      min-width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;
      padding: 0 20px;
      background: rgba(255, 255, 255, 0.6);

      .titleText {
        max-width: 1140px;
        margin: 0 auto;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        font-size: 33px;
        line-height: 70px;
        letter-spacing: -0.5px;
        opacity: 0.8;
      }
    }
  }

  .calender {
    border: 2px solid purple;
    height: 461px;
  }

  .container {
    border: 1px solid cornflowerblue;
    max-width: 1140px;
    margin: 0 auto;

    .rooms {
      height: 1478px;

      .roomsHeader {
        height: 172px;
        padding: 0 0 90px;

        .roomsTitle {
          font-family: "Helvetica Neue", "Roboto", sans-serif;
          font-size: 60px;
          font-weight: 600;
          text-align: center;
          letter-spacing: -1.5px;
          word-spacing: -1px;
          color: $color-title-black;
          margin: 60px 20px 12px;

          .titleSpan {
            font-weight: 300;
            color: #595959;
          }
        }
        .titleBottom {
          font-size: 14px;
          text-align: center;
        }
      }

      .roomsContainer {
        height: 590px;

        .sliderWrapper {
          position: relative;

          .slick-dots:nth-child(2) {
            //border: 2px solid red;
            position: absolute;
            bottom: 548px;
            right: 1%;
            margin: auto;
            list-style-type: none;
            z-index: 10;
            max-width: fit-content;

            li {
              margin: 0 -4px;
            }

            button {
              width: 7px;
              height: 7px;
              padding: 0;
              border: none;
              border-radius: 100%;
              background-color: white;
              opacity: 0.3;
              text-indent: -9999px;
            }

            li.slick-active button {
              background-color: white;
              opacity: 1;
            }
          }
        }
        .roomsTop {
          max-width: 1140px;
          height: 50px;
          margin-bottom: 20px;
          background: #222;
          display: flex;
          justify-content: space-between;

          .roomsTopLeft {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 285px;
            padding: 0 15px;
            color: #999999;
            font-size: 14px;
            line-height: 50px;

            .fa-circle {
              font-size: 8px;
              color: white;
              margin-right: 5px;
            }
          }
        }

        .roomsTopTitle {
          margin: 0 auto;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 17px;
          font-weight: 700;
          line-height: 50px;
          color: white;
        }

        .roomsTopRight {
          width: 285px;
          padding: 0 15px;
        }

        .hi {
          border: 2px solid red;
        }
      }

      .roomsInfoContainer {
        border-top: 4px solid #222;
        border-bottom: 4px solid #222;
        height: 576px;
        margin: 30px 0;
        padding: 20px 0;
        display: flex;
        justify-content: flex-start;

        .infoLeft {
          width: 292.5px;
          letter-spacing: -0.5px;

          .roomTitle {
            font-size: 24px;
            font-weight: 500;
            color: #363636;
            line-height: 34px;
          }

          .roomType {
            font-size: 13px;
            font-weight: 500;
            line-height: 18.5px;
            color: #7c7c7c;
            margin-bottom: 20px;
            height: 50px;
          }

          .leftBottom {
            margin-top: 25px;
            color: #717171;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }
        }

        .infoRight {
          width: 877.5px;

          .roomDesc {
            height: 51px;
            padding-bottom: 30px;
            color: #363636;
            line-height: 21px;
            font-size: 15px;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .rightBottom {
            height: 477px;
            padding: 10px 0;

            .infoTitleLeft {
              width: 130px;
              font-size: 13px;
              font-weight: bold;
              line-height: 18.5px;
              color: #333333;
            }

            .rightContainer {
              padding: 20px 0;
              border-top: 1px solid #e3e3e3;
              display: flex;

              .iconList {
                display: flex;
                justify-content: flex-start;

                .infoIconContainer {
                  width: 78px;
                  height: 61px;
                  margin-bottom: 10px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }

                .iconStyle {
                  width: 50px;
                  height: 33px;
                  margin: 0 14px 10px;
                  opacity: 0.6;
                }

                .iconDesc {
                  width: 78px;
                  text-align: center;
                  color: #666;
                  font-size: 13px;
                  letter-spacing: -1px;
                  margin-bottom: 10px;
                  font-weight: 500;
                }
              }

              .textListUl {
                display: flex;

                .textList {
                  font-size: 14px;
                  font-weight: 500;
                  text-align: left;
                  color: #363636;
                  margin: 0 10px 10px 0;
                }
              }
            }
          }
        }
      }

      .moreInfoBtn {
        background: #f6f6f6;
        width: 500px;
        height: 50px;
        border: 1px solid #e5e5e5;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto;
        cursor: pointer;
        @include flex-center;

        .fa-angle-down {
          width: 11px;
          height: 17px;
          color: rgb(51, 51, 51);
          margin-left: 3px;
        }
      }
    }
  }
}
