@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700&display=swap");
@import "../../../../styles/common.scss";

.Toggle {
  padding-top: 10px;
  height: 190px;
  width: 100%;
  position: relative;

  .AgrInfoContainer {
    position: absolute;
    line-height: 22px;
    width: 100%;
    height: 150px;
    padding: 20px;
    margin: 10px 0;
    overflow-y: scroll;
    font-size: 14px;
    background-color: rgb(244, 244, 244);
    color: rgb(145, 145, 145);
    text-align: start;

    p {
      margin-bottom: 10px;
    }
  }

  .moreBtn {
    text-align: start;
    height: 16px;
    padding: 0;
    background: none;
    cursor: pointer;
    font-size: 14px;

    .moreTitle {
      background: none;
      padding: 0;
      margin-right: 4px;
      color: rgb(145, 145, 145);
    }

    .moreTitle .clicked {
      margin-top: 30px;
    }

    .clickedToggle {
      position: absolute;
      transform: rotate(180deg);
    }
  }
}
.hideToggle {
  height: 30px;
}
