@import "../../styles/common.scss";
@import "../../styles/reset.scss";
@include mQ;

.Pick{
  background-color: $color-background;
  display: flex;
  justify-content: center;

  .container{
    border: 1px solid red;
    //width: 1140px;
    margin: 150px auto;
    padding: 0 15px 0 15px;

    section {
      display: flex;
      justify-content: space-between;
      height: 90px;
      //border: 1px solid black;
      border-top: 7px solid black;
      margin: 15px 0 10px 0;
      padding:20px 0 20px 0;

      .title {
        font-size: 32px;
        color: #333333;
      }
      
      .titleInfo {
        font-size: 14px;
        color: #797979;
      }
  
      .searchContainer {
        display: flex;
        text-align: left;
    
        .searchfilter {
          width: 150px;
          height: 43px;
          margin: auto 5px;
          padding: 12px;
          border: 1px solid #999;
          background-color: #ffffff;

          span {
            font-size: 11px;
            color: black;
          }

          .point {
            background-color: black;
            font-weight: 500;
          }
        }
      }
    }

    .articleCon {
      border: 1px solid yellowgreen;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 10 -15px 0 -15px;
    }

    .pagination {
      border: 1px solid red;
      display: flex;
      justify-content: center;

      ul {
        border: 1px solid yellow;
        display: flex;
        //width: 510px;
        //height: 37px;
        margin: 20px 0 60px;

        li {
          width: 35px;
          height: 37px;
          margin: 0 5px;
          padding-top: 11px;
          background-color: white;
          box-shadow: 0 1px 1px rgba(100,100,100,.3);
          text-align: center;
          color: #333333;
  
        }
      }
    }
  }

  /*
  @media (min-width: 768px) {
    .PickArticle {
      width: 50%;
    } 
  }  

  @media (min-width: 992px) {
    .PickArticle {
      width: 33.33333333%;
    }
  }  
  */
}
