.PickArticle {
  //border: 3px solid black;
  position: relative;
  width: 360px;
  height: 448px;
  background-color: white;
  border-bottom: 2px solid gray;
  //padding: 0 15px 0 15px;
  margin-bottom: 30px;
  font-family: "Apple SD Gothic Neo","Nanum Gothic","나눔고딕","Malgun Gothic","맑은고딕",Dotum,"돋움",Gulim,"굴림","Helvetica Neue",Helvetica,Arial,sans-serif;

  img {
    width: 100%;
    height: 240px;
  }

  .articleInfo {
    //border: solid 2px salmon;
    width: 360px;
    height: 208px;
    padding: 15px 20px 20px 20px; 
  
    .hotelName {
      height: 34px;
      margin: 10px 0 10px 0;

      .eng {
        font-size: 12px;
        margin-top: 2px;
      }
    }
    
    .bookingLink {
      position: absolute;
      right: -6px;
      top: 265px;
      width: 100px;
      height: 34px;
      padding: 9px 0 0 0;
      background-image: url(https://www.stayfolio.com/images/pick/5d995e0a.pick-booking@3x.png);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;

      a {
        color: white;
        font-size: 12px;
        font-weight: 500;
      }
    }

    span {
      display: block;
      height: 30px;
      padding: 5px auto;
      font-size: 13px;
    }
    
    .infoCon {
      border-top: 2px solid black;
      margin-top: 10px;
      //height: 66px;
  
      .infoLine {
        display: flex;
        //border: 1px solid green;
        height: 33px;
        padding: 5px;
        font-size: 13px;
        border-bottom: 1px solid #EBEBEB;

        .con {
          //border: 1px solid red;
          display: flex;
          position: relative;
          //justify-content: space-between;
          width: 160px;
          height: 33px;
          padding: 7px 0 7px 0;
          color: #9595a0;
          //border-bottom: 1px solid #EBEBEB;
  
          div {
            //border: 1px solid orange;
          }
  
          span {
            //border: 1px solid green;
            padding: 0 5px 0 5px;
            font-weight: 500;
          }
  
          .centerLine {
            //border: 3px solid salmon;
            position: absolute;
            right: -1px;
          }
  
        }
      }
    }
  }
}
/*
@media (min-width: 768px) {
  .PickArticle {
    width: 50%;
  } 
}  

@media (min-width: 992px) {
  .PickArticle {
    width: 33.33333333%;
  }
}  
*/

