@import "../../styles/common.scss";

$color-gray: rgb(145, 145, 145);

@mixin listSize {
  width: 765px;
  height: 61px;
}

@mixin listStyle {
  border-bottom: 1px solid rgb(204, 204, 204);
}

@mixin titleStyle {
  width: 110px;
  padding: 20px 0;
  color: $color-gray;
  float: left;
}

@mixin inputStyle {
  width: 465px;
  margin-left: 190px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  border: 1px solid $color-gray;
  border-radius: 3px;
  &:hover {
    border: 1px solid rgb(93, 169, 255);
    outline: none;
  }
  &:focus {
    border: 1px solid rgb(93, 169, 255);
    outline: none;
  }
}

@mixin selectStyle {
  width: 78px;
  height: 38px;
  border-radius: 3px;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
}

@mixin selectWrap {
  width: 138px;
  height: 40px;
  margin: 0 auto;
  color: $color-gray;
  display: inline-flex;
  align-items: center;
}

@mixin selectTitle {
  margin: auto 10px;
  padding: 20px 0;
  font-size: 14px;
  line-height: 20px;
}

.Reservation {
  background-color: $color-background;
  width: 100%;
  height: 100%;

  .container {
    border: 1px solid red;
    margin: 102px auto;
    padding: 0 15px 0 15px;

    header {
      display: flex;
      justify-content: space-between;
      border-top: 7px solid black;
      margin: 60px 0 10px 0;
      padding: 30px 0 40px 0;
      font-family: "Open Sans", sans-serif;

      .title {
        font-size: 32px;
        font-weight: 700;
        color: #333333;
      }

      .titleDesc {
        font-size: 14px;
        color: #797979;
        margin-top: 10px;
      }
    }

    .reservationCon {
      border: 1px solid red;
      background-color: white;
      padding: 30px;

      .outLine {
        border: 1px solid purple;
        padding: 3px;

        .content {
          border: 1px solid gray;
          padding: 40px;

          .reservationDesc {
            text-align: center;
          }

          .calender {
            height: 200px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
          }
          //여기부터
          .InfosContainer {
            width: 765px;
            margin: 0 auto;
            border-top: 2px solid #000;

            .date {
              // border: 1px solid gray;
              @include listStyle;
              display: flex;
              align-items: center;
              .title {
                @include titleStyle;
              }
              .checkDatesWrap {
                margin-left: 190px;
                margin-top: 10px;
                margin-bottom: 10px;
                color: $color-gray;
                display: flex;
                font-size: 14px;
                .checkIn {
                }
                .checkInDate {
                }
                .checkOut {
                }
                .checkOutDate {
                }
              }
            }

            .name {
              // border: 1px solid gray;
              @include listStyle;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              input {
                @include inputStyle;
              }
            }

            .contactNum {
              @include listStyle;
              // border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              input {
                @include inputStyle;
              }
            }

            .email {
              @include listStyle;
              // border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              input {
                @include inputStyle;
              }
            }

            .people {
              @include listStyle;

              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }

              .selectWrap {
                @include selectWrap;
                // @include inputStyle;
                width: 465px;
                height: 38px;
                margin-left: 200px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 8px 12px;
                border: none;
                .adultWrap,
                .childWrap,
                .toddlerWrap {
                  @include selectWrap;
                  span {
                    margin: 0 auto;
                  }
                  select {
                    @include selectStyle;
                  }
                }
              }
            }

            .option {
              @include listStyle;
              // border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              title {
                @include titleStyle;
              }
              .miniOption {
                // border: 1px solid gray;
                width: 465px;
                height: 600px;
                padding: 20px 0;
                .breakfastWrap {
                  margin-bottom: 20px;

                  .breakfastTitleWrap {
                    @include flex(space-between);
                    .title {
                      font-size: 22px;
                    }
                    .breakfastPrice {
                      font-size: 18px;
                    }
                  }
                  p {
                    padding: 5px 0;
                    color: $color-gray;
                    font-size: 14px;
                    line-height: 20px;
                  }
                  .countWrap {
                    .minus,
                    .plus {
                      display: block;
                      width: 30px;
                      height: 30px;
                      line-height: 30px;
                      text-align: center;
                      .fa-minus,
                      .fa-plus {
                      }
                    }
                    span {
                    }
                  }
                }
                .pickUpWrap {
                  .pickUpTitleWrap {
                    .title {
                    }
                  }
                  p {
                  }
                  .pickUpCheckBox {
                    .check {
                      input {
                      }
                    }
                  }
                }
              }
            }

            .request {
              @include listStyle;
              // border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              textarea {
              }
            }

            .price {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              @include listStyle;

              .title {
                .totalDetail {
                  .roomPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }

                  .optionPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }

                  .discountPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }

                  .totalPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }
                }
              }
            }

            .payTool {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              padding: 10px 0 10px 0;
              .title {
              }
              .toolOption {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
