@import "../../styles/common.scss";

$color-font: rgb(145, 145, 145);

@mixin listSize {
  width: 765px;
  height: 61px;
}

@mixin titleStyle {
  width: 100px;
  padding: 10px 0;
  color: $color-font;
  float: left;
}

@mixin inputStyle {
  width: 465px;
  height: 38px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  border: 1px solid $color-font;
  border-radius: 3px;
}

@mixin selectStyle {
  width: 78px;
  height: 38px;
  border-radius: 3px;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
}

@mixin selectWrap {
  width: 138px;
  height: 40px;
  color: $color-font;
  display: inline-flex;
  align-items: center;
}

@mixin selectTitle {
  margin: 0 10px 0 10px;
  line-height: 20px;
}

.Reservation {
  background-color: $color-background;
  width: 100%;
  height: 100%;

  .container {
    border: 1px solid red;
    margin: 102px auto;
    padding: 0 15px 0 15px;

    header {
      display: flex;
      justify-content: space-between;
      border-top: 7px solid black;
      margin: 60px 0 10px 0;
      padding: 30px 0 40px 0;
      font-family: "Open Sans", sans-serif;

      .title {
        font-size: 32px;
        font-weight: 700;
        color: #333333;
      }

      .titleDesc {
        font-size: 14px;
        color: #797979;
        margin-top: 10px;
      }
    }

    .reservationCon {
      border: 1px solid red;
      background-color: white;
      padding: 30px;

      .outLine {
        border: 1px solid purple;
        padding: 3px;

        .content {
          border: 1px solid gray;
          padding: 40px;

          .reservationDesc {
            text-align: center;
          }

          .calender {
            height: 200px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
          }
          //여기부터
          .InfosContainer {
            width: 765px;
            margin: 0 auto;
            border-top: 2px solid #000;

            .date {
              border: 1px solid gray;
              padding: 10px 0 10px 0;
              display: flex;
              align-items: center;
              .title {
                @include titleStyle;
              }
              .checkDatesWrap {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 300px;
                display: flex;
                .checkIn {
                }
                .checkOut {
                }
              }
            }

            .name {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              input {
                @include inputStyle;
              }
            }

            .contactNum {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              input {
                @include inputStyle;
              }
            }

            .email {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              input {
                @include inputStyle;
              }
            }

            .people {
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }

              .selectWrap {
                @include selectWrap;
                @include inputStyle;
                .adultWrap {
                  @include selectWrap;
                  span {
                    @include selectTitle;
                  }
                  select {
                    @include selectStyle;
                  }
                }

                .childWrap {
                  @include selectWrap;
                  span {
                    @include selectTitle;
                  }
                  select {
                    @include selectStyle;
                  }
                }

                .toddlerWrap {
                  @include selectWrap;
                  span {
                    @include selectTitle;
                  }
                  select {
                    @include selectStyle;
                  }
                }
              }
            }

            .option {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              title {
                @include titleStyle;
              }
              .miniOption {
                border: 1px solid gray;
                width: 465px;
                height: 600px;
              }
            }

            .request {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;
              .title {
                @include titleStyle;
              }
              textarea {
              }
            }

            .price {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              // padding: 10px 0 10px 0;

              .title {
                .totalDetail {
                  .roomPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }

                  .optionPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }

                  .discountPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }

                  .totalPrice {
                    .priceTitle {
                    }
                    .price {
                    }
                    .won {
                    }
                  }
                }
              }
            }

            .payTool {
              border: 1px solid gray;
              display: flex;
              justify-content: space-between;
              padding: 10px 0 10px 0;
              .title {
              }
              .toolOption {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
